<html>
    <head>
        <title>Approvals</title>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.css" />
        <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.js"></script>
    </head>
    <body>
        <b-container>
            <b-row>
                <div id="app">
                    <h1>Pending Approvals</h1>
                    <p>Base URL: {{baseUrl}}</p>
                    <div>
                      <b-form-input v-model="code" type="password" placeholder="Enter the password"></b-form-input>
                    </div>
                    <b-card no-body class="mt-4" v-for="item, contentIndex in content" :key="item.title">
                        <b-card-header header-tag="nav">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>                                
                                    <h2>
                                        <b-badge variant="info" pill>
                                            <small>{{ item.contentType }}</small>
                                        </b-badge>
                                        <b-link :href="item.source">{{ item.title }}</a>
                                    </h2>
                                </span>
                                <b-button-group class="mt-3">
                                    <b-button variant="success" @click="approveContentAndActions(item.id, contentIndex)" :disabled="showApprove(item).boolean">Approve</b-button>
                                    <b-button variant="danger" @click="confirmReject(item.id, contentIndex)">Reject</b-button>
                                </b-button-group>
                            </div>
                        </b-card-header>
                        <b-card-body>
                            <p class="card-text mt-2">
                                {{ item.summary }}
                            </p>
                            <p>                
                                <b-button-group>
                                    <b-button variant="primary" @click="addAction(item.id, contentIndex)">Add Action</b-button>
                                </b-button-group>
                            </p>
                            <b-list-group v-for="action, actionIndex in item.actions" :key="action.id">
                                <b-list-group-item>
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <span>
                                            <span v-for="type, index in action.actionTypes" :key="'action-' + contentIndex + '-' + actionIndex + '-' + type">
                                                <b-badge variant="info" pill>
                                                    <small>{{ type }}</small>
                                                </b-badge>
                                            </span>
                                            <span v-for="platform, index in action.platforms" :key="'action-' + contentIndex + '-' + actionIndex + '-' + platform">
                                                <b-badge variant="info" pill>
                                                    <small>{{ platform }}</small>
                                                </b-badge>
                                            </span>
                                        </span>
                                        <b-button-group>
                                            <b-button variant="warning" size="sm" @click="removeAction(contentIndex, actionIndex)">Remove</b-button>
                                        </b-button-group>
                                    </div>
                                    <p>{{ renderContent(action.message, item.source).length}} Characters</p>
                                    <p style="white-space: pre-wrap; word-wrap: break-word;">{{ renderContent(action.message, item.source) }}</p>          
                                    <b-form-group label="Choose Action Type:">
                                        <b-form-checkbox-group
                                            v-model="action.actionTypes"
                                            :options="actionTypeOptions" />
                                    </b-form-group>                                 
                                    <b-form-group label="Choose Platforms:">
                                        <b-form-checkbox-group
                                            v-model="action.platforms"
                                            :options="platformOptions" />
                                    </b-form-group>
                                    <b-form-textarea
                                          rows="3"
                                          max-rows="6"
                                        v-model="action.message" 
                                        placeholder="Enter your post text" />
                                </b-list-group-item>
                            </b-list-group>
                        </b-card-body>
                    </b-card>                
                    <b-modal 
                        ref="confirmationModal"
                        :title="itemPendingDelete.title"
                        @hidden="resetModal"
                        @ok="rejectContentAndActions(itemPendingDelete.id, itemPendingDelete.position)">
                        <p><strong>Are you sure you want to reject this Content?</strong></p>
                        <p>This means any actions that you have entered will also be ignored / removed.</p>
                    </b-modal>
                </div>
            </b-row>
        </b-container>
        <script>
            const apiRoot = `${window.location.href.split('/').slice(0, 3).join('/')}`;

            var app = new Vue({

                el: '#app',
                data() 
                {
                    return {
                        baseUrl: apiRoot,
                        busy: false,
                        code: "123456789",
                        content: [],
                        itemPendingDelete: {
                            title: ""
                        },
                        modalShow: false,
                        actionTypeOptions: [
                            { "text": "Immediate", value: "immediate" },
                            { "text": "Schedule", value: "schedule" },
                            { "text": "Roundup", value: "roundup" }
                        ],
                        platformOptions: [
                            { "text": "Facebook", value: "facebook" },
                            { "text": "LinkedIn", value: "linkedin" },
                            { "text": "Twitter", value: "twitter" },
                            { "text": "Reddit", value: "reddit" }
                        ]
                    }
                },
                created: function () {
                    var _this = this
                    $.ajax({
                        type: 'GET',
                        url: `${_this.baseUrl}/api/content?code=${_this.code}`,
                        contentType: 'application/json',
                        success: function (data) {
                            _this.content = JSON.parse(data);
                        },
                        error: function (data) {
                            console.log(data);
                        },
                    })
                    console.log(this.content);
                    this.showAlert = false;
                    this.busy = false;
                },
                watch: {
                },
                methods: {
                    showApprove(item) {
                        const hasContent = (currentValue) => (currentValue.message.length > 0);
                        const hasActionTypes = (currentValue) => (currentValue.actionTypes.length > 0);
                        const hasPlatforms = (currentValue) => (currentValue.platforms.length > 0);

                        if (item.actions.length > 0 && item.actions.every(hasContent) && item.actions.every(hasActionTypes) && item.actions.every(hasPlatforms))
                        {
                            // return false, i.e. the item is NOT disabled
                            return {
                                boolean: false,
                                colour: "#000000"
                            }
                        } else {
                            return {
                                boolean: true,
                                colour: "#FF0000"
                            }
                        }
                    },
                    renderContent(content, url) {
                        return content.replace("{{url}}", url)
                    },
                    addAction: function(id, index)
                    {
                        if (!Array.isArray(this.content[index].actions))
                        {
                            this.content[index].actions = []
                        }

                        this.content[index].actions.push(
                            {
                                "actionTypes": [],
                                "message": "",
                                "platforms": []
                            }
                        )
                    },
                    removeAction: function(contentIndex, actionIndex)
                    {
                        this.content[contentIndex].actions.splice(actionIndex, 1)
                    },
                    confirmReject: function(id, index)
                    {
                        this.itemPendingDelete = this.content.find(o => o.id === id);
                        this.itemPendingDelete.position = index;
                        this.$refs['confirmationModal'].show()
                    },
                    approveContentAndActions: function(id, contentIndex)
                    {
                        var _this = this
                        $.ajax({
                            type: 'POST',
                            url: `${_this.baseUrl}/api/actions?code=${_this.code}`,
                            data: JSON.stringify(this.content[contentIndex]),
                            contentType: 'application/json'
                        })
                            .done(function (data) {
                                var title = _this.content[contentIndex].title
                                var objectId = _this.content[contentIndex].id

                            $.ajax({
                                type: 'DELETE',
                                url: `${_this.baseUrl}/api/content/${objectId}?code=${_this.code}`,
                                contentType: 'application/json',
                                success: function (data) {
                                    _this.content.splice(contentIndex, 1)
                                    _this.itemPendingDelete = {
                                        title: ""
                                    }
                                    // Todo - Add a popup, or banner or something similar
                                    alert("Hooray! " + title + "Successfully added (but not really...)");
                                },
                                error: function (data) {
                                    console.log(data);
                                },
                            })
                        }).fail(function (err) {
                            alert("Uh oh " + err);
                            console.log(err);
                        });
                    },
                    rejectContentAndActions: function(id, contentIndex)
                    {   
                        var _this = this
                        $.ajax({
                            type: 'DELETE',
                            url: `${_this.baseUrl}/api/content/${id}?code=${_this.code}`,
                            contentType: 'application/json',
                            success: function (data) {
                                var title = _this.content[contentIndex].title;
                                _this.content.splice(contentIndex, 1)
                                _this.itemPendingDelete = {
                                    title: ""
                                }
                                // Todo - Add a popup, or banner or something similar
                                alert("Hooray! " + title + "Successfully removed from list");
                            },
                            error: function (data) {
                                console.log(data);
                            }
                        });
                    },
                    resetModal: function()
                    {
                        this.itemPendingDelete = {
                            title: ""
                        }
                    }
                }
            });
        </script>
    </body>
</html>